$color-body-background: $palette-lightblue;
$color-btnA-text-color: $palette-yellowgreen;
$color-btnA-border-color: $palette-yellowgreen;
$color-btnA-background-color: $palette-white;
$color-btnA-hover-text-color: $palette-white;
$color-btnA-hover-border-color: $palette-lightrime; 
$color-btnA-hover-background-color: $palette-yellowgreen;
$color-btnB-text-color: $palette-gray;
$color-btnB-border-color: $palette-lightgray;
$color-btnB-background-color: $palette-white;
$color-btnB-hover-text-color: $palette-gray;
$color-btnB-hover-border-color: $palette-lightgray;
$color-btnB-hover-background-color: $palette-yellowgreen;
$color-text-correct:  $palette-lightgreen;
$color-text-incorrect:  $palette-red;
$color-text-answercorrect:  $palette-green;