$palette-white: #ffffff;
$palette-lightblue: #d4e9e8;
$palette-yellowgreen: #9ec34b;
$palette-lightrime: #cbe585;
$palette-lightgreen: #90EE90;
$palette-red: #EC164B;
$palette-green: #259025;
$palette-gray: #808080;
$palette-lightgray: #D3D3D3;